<nav>
  <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
    title="Aktuelle Informationen über mein Nagelstudio in Sulzbach">Home
  </a>
  <a routerLink="/preise" routerLinkActive="active"
    title="Übersicht aller aktuellen Leistungen, Preise und Rabatte">Preise
  </a>
  <a routerLink="/bilder" routerLinkActive="active" title="Bilder und Impressionen meiner Arbeiten">Bilder
  </a>
  <a routerLink="/kontakt" routerLinkActive="active" title="Wie könnt Ihr mich erreichen?">Kontakt
  </a>
  <a routerLink="/anfahrt" routerLinkActive="active"
    title="Informationen darüber wo sich mein Studio befindet, wie ihr zu mir gelangt und wo ihr Parken könnt">Anfahrt
  </a>
  <a routerLink="/impressum" routerLinkActive="active" title="Gesetzlich vorgeschriebene Herkunftsangabe">Impressum</a>
  <a routerLink="/privacy" routerLinkActive="active" title="Datenschutzerklärung nach DSGVO">Datenschutzerklärung</a>
</nav>
<nav>
  <a href="https://www.facebook.com/MyHappyNailsNagelstudio" title="Zur Facebook-Seite" target="_blank"
    rel="noopener noreferrer" aria-label="Facebook">
    <mat-icon svgIcon="social:facebook"></mat-icon>
  </a>
  <a href="https://github.com/mkollers/my-happy-nails" title="Zu Github" target="_blank" rel="noopener noreferrer"
    aria-label="Github">
    <mat-icon svgIcon="social:github"></mat-icon>
  </a>
</nav>
