@import '../../../../../styles/breakpoints.scss';

:host {
  background: #AB47BC;
  align-items: center;
  display: flex;
  flex-direction: column;
  place-content: center;
  box-sizing: border-box;
  padding: 16px 64px;
}

nav {
  display: flex;
  flex-direction: row;
}

@media #{$mat-lt-lg} {
  :host {
    flex-direction: row;
    padding: 16px;
  }

  nav {
    flex-direction: column;
  }
}

a {
  color: #fff;
  line-height: 24px;
  font-size: 1rem;
  font-weight: 500;
  padding: 0 1em;
  text-decoration: none;
}

a:hover,
a.active {
  text-decoration: underline;
}

.mat-icon {
  margin-top: 8px;
}
