<div class="wrapper" fxLayout.gt-md="row" fxLayout="column" fxLayoutWrap>
  <md-card fxFlex.lg="50%" fxFlex.xl="30%">
    <md-card-title>Wie kannst du mich erreichen?</md-card-title>
    <p>
      Du willst einen Termin vereinbaren oder hast Fragen?<br/><br/> Telefonisch bin ich unter <a href="tel:+49 177 6342915">0177 6342915</a>      zu erreichen. Selbstverständlich kannst du mir auch per SMS oder WhatsApp schreiben ;-)<br/><br/> Alternativ kannst
      du mir auch eine E-Mail an <a href="mailto:kontakt@my-happy-nails.de">kontakt@my-happy-nails.de</a> schicken.
    </p>
  </md-card>
</div>