@import '../../styles/breakpoints';

:host {
  flex-direction: row;
}

section {
  flex-direction: column;
  display: flex;
  box-sizing: border-box;
  flex: 1 1 100%;
  max-width: 100%;
}

@media #{$mat-gt-md} {
  section {
    flex: 1 1 60%;
    max-width: 60%;
  }
}

@media #{$mat-gt-lg} {
  section {
    flex: 1 1 30%;
    max-width: 30%;
  }
}

.mat-card {
  margin-bottom: 16px;
}

.mat-form-field {
  width: 100%;
}

footer {
  align-items: center;
  display: flex;
  flex-direction: column;
}
