<mat-card class="mat-elevation-z8" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
  <div mat-card-image>
    <iframe height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
      src="https://maps.google.de/maps/embed/v1/place?key=AIzaSyBToX1Zbmmm2U9uQyD-ChRl63cMGkZmQY8&q=My+Happy+Nails"></iframe>
  </div>
  <h2 mat-card-title>Wo findet ihr mich?</h2>
  <span itemprop="streetAddress">Falkensteiner Weg 10</span><br />
  <span><span itemprop="postalCode">65843</span>&nbsp;<span itemprop="addressLocality">Sulzbach</span></span><br /><br />
  <span>Bitte klingelt bei „Kollers & Hauschild". Ein kleiner „My Happy Nails"-Aufkleber befindet sich unter der
    Klingel.</span>
</mat-card>
<mat-card class="mat-elevation-z8">
  <div mat-card-image id="map"></div>
  <h2 mat-card-title>Parkplätze</h2>
  <p>Kostenlose öffentliche Parkplätze findet ihr bei den eingezeichneten Flächen. Der Hauseingang ist sowohl vom
    Falkensteiner Weg, als auch von der Eschborner Straße aus zugänglich. Bitte stellt euch nicht auf die
    Anwohnerparkplätze vor der Tür.</p>
</mat-card>
