@import '../../styles/breakpoints';

:host {
  flex-direction: row;
}

@media #{$mat-lt-xl} {
  :host {
    flex-direction: column;
  }
}

.mat-card {
  margin-bottom: 16px;
  flex: 1 1 100%;
  box-sizing: border-box;
}

@media #{$mat-gt-md} {
  .mat-card {
    max-width: 70%;
    margin-right: 16px;
  }
}

@media #{$mat-gt-lg} {
  .mat-card {
    max-width: 50%;
  }
}

iframe {
  width: 100%;
}

#map {
  height: 400px;
}
