@import '../../styles/breakpoints.scss';

.mat-card {
  padding: 16px;
  flex: 0 1 100%;
  max-width: calc(100% - 32px);
}

.masonry-layout {
  column-count: 1;

  @media #{$mat-sm} {
    column-count: 2;
  }

  @media #{$mat-gt-md} {
    column-count: 3;
  }

  column-gap: 0;
  padding: 8px;
}

.masonry-layout__panel {
  break-inside: avoid;
  padding: 8px;
}

.masonry-layout__panel-content {
  display: flex;
}

.mat-list .mat-list-item.mat-2-line {
  height: 48px;
}

:host ::ng-deep .mat-list-text {
  width: calc(100% - 73px)!important;
}

.cost {
  order: 999;
  text-align: right;
}
