.mat-sidenav {
  width: 252px;
  opacity: 0.98;
}

#logo {
  display: block;
  margin: 16px auto;
}

ul {
  list-style-type: none;
  /* TODO */
  border-top: 1px solid #e7e7e7;
  margin: 0;
  padding: 0;
}

li a {
  box-sizing: border-box;
  /* TODO */
  border-bottom: 1px solid #e7e7e7;
  border-radius: 0;
  /* TODO */
  color: #AB47BC;
  display: block;
  font-size: 14px;
  font-weight: 600;
  line-height: 47px;
  padding: 0 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  text-transform: uppercase;
  transition: all .3s;
}

li a.active {
  background: rgba(171, 71, 188, .2);
}

.mat-icon {
  line-height: 20px;
  margin-bottom: 4px;
  margin-right: 8px;
}
