<mat-sidenav-container (swiperight)="sidenav.open()">
  <mat-sidenav #sidenav [mode]="mode" [opened]="opened">
    <aside>
      <img src="assets/logo.png" itemscope itemtype="http://schema.org/Brand" id="logo" width="260">
      <nav>
        <ul>
          <li *ngFor="let item of sidenavItems">
            <a [routerLink]="item.url" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}" [title]="item.title">
              <mat-icon [svgIcon]="item.icon"></mat-icon>{{ item.text }}
            </a>
          </li>
        </ul>
      </nav>
    </aside>
  </mat-sidenav>
  <main>
    <header>
      <mat-toolbar id="header">
        <button class="toolbar-icon-button" mat-button (click)="sidenav.toggle()"><mat-icon svgIcon="material:menu"></mat-icon></button>
        <h1 id="title">{{ toolbarService.title$ | async }}</h1>
      </mat-toolbar>
    </header>
    <section [@routerTransition]="getState(o)" style="min-height: 100%;">
      <router-outlet #o="outlet"></router-outlet>
    </section>
    <footer>
      <nav fxLayout.gt-md="column" fxLayout="row">
        <div fxLayout="row" fxLayout.lt-lg="column" fxFlex="none" fxFlex.lt-lg="60%" fxLayoutAlign="center center" fxLayoutAlign.lt-lg="center start">
          <a *ngFor="let item of footerItems" [routerLink]="item.url" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}"
            [title]="item.title">{{ item.text }}</a>
        </div>
        <div fxLayout.lt-lg="column" fxLayout="row" fxFlex="none" fxFlex.lt-lg="40%" fxLayoutAlign.lt-lg="center end" fxLayoutAlign="center center">
          <a href="https://www.facebook.com/MyHappyNailsNagelstudio" title="Zur Facebook-Seite" target="_blank" rel="noopener noreferrer"
            aria-label="Facebook">
            <mat-icon svgIcon="social:facebook"></mat-icon>
          </a>
          <a href="https://plus.google.com/+MyHappyNailsEschborn" title="Zu Google+" target="_blank" rel="noopener noreferrer" aria-label="Google+">
            <mat-icon svgIcon="social:google-plus"></mat-icon>
          </a>
          <a href="https://github.com/mkollers/my-happy-nails" title="Zu Github" target="_blank" rel="noopener noreferrer" aria-label="Github">
            <mat-icon svgIcon="social:github"></mat-icon>
          </a>
        </div>
      </nav>
    </footer>
  </main>
</mat-sidenav-container>