<md-sidenav-container>
  <md-sidenav #sidenav mode="side">
    <object id="logo" data="assets/logo.svg" type="image/svg+xml" height="100">
    </object>
    <ul>
      <li [routerLink]="['/']" (click)="sidenav.close()" [routerLinkActive]="['active']">
        <md-icon>home</md-icon>Home
      </li>
      <li [routerLink]="['/Preise']" (click)="sidenav.close()" [routerLinkActive]="['active']">
        <md-icon>euro_symbol</md-icon>Preise
      </li> 
      <li [routerLink]="['/Bilder']" (click)="sidenav.close()" [routerLinkActive]="['active']">
        <md-icon>photo</md-icon>Bilder
      </li> 
      <li [routerLink]="['/Kontakt']" (click)="sidenav.close()" [routerLinkActive]="['active']">
        <md-icon>phone</md-icon>Kontakt
      </li> 
      <li [routerLink]="['/Anfahrt']" (click)="sidenav.close()" [routerLinkActive]="['active']">
        <md-icon>location_on</md-icon>Anfahrt
      </li> 
    </ul>
  </md-sidenav>
  <main>
    <md-toolbar color="primary">
      <button class="toolbar-icon-button" md-button (click)="sidenav.toggle()"><md-icon>menu</md-icon></button>
      <span id="title">{{ toolbarService?.title }}</span>
    </md-toolbar>
  </main>
</md-sidenav-container>