@import '../styles/breakpoints';

#content {
  min-height: calc(100% - 64px - 94px);
}

:host ::ng-deep router-outlet+* {
  display: flex;
  overflow: auto;
  flex: 1 0 auto;
  padding: 0 8px 8px 8px;
}

@media #{$mat-gt-md} {
  :host ::ng-deep router-outlet+* {
    padding: 0 42px 16px 42px;
  }
}
