// Import theming functions
@import '~@angular/material/core/theming/theming';
// Import your custom theme
@import 'src/my-happy-nails-theme.scss';
$accent: md-color($my-happy-nails-primary);
footer {
    background: #bf74cc;
    padding: 1em 4em;
    a {
        color: #fff;
        line-height: 24px;
        font-size: 1rem;
        padding: 0 1em;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
        md-icon {
            margin-top: 8px;
        }
    }
}

md-toolbar {
    &#header {
        background: transparent;
        #title {
            margin-left: 5px;
        }
        /* ISSUE: md-icon-button does not center icon. try again in a newer version of angular-material */
        .toolbar-icon-button {
            min-width: 0;
            padding: 0 6px;
        }
    }
}

md-sidenav {
    width: 320px;
    background: white;
    #logo {
        display: block;
        margin: 32px auto;
    }
    button.list-item-dropdown {
        min-width: 0;
        padding: 0;
    }
    md-list-item {
        padding: 0 16px;
        h3 {
            font-size: 14px;
            font-weight: 500;
        }
        p {
            font-size: 13px;
        }
    }
    ul {
        list-style-type: none;
        border-top: 1px solid #e7e7e7;
        margin: 0;
        padding: 0;
    }
    li a{
        color: $accent;
        cursor: pointer;
        margin: 0;
        padding: 0 16px;
        box-sizing: border-box;
        display: block;
        font-size: 13px;
        font-weight: 400;
        line-height: 47px;
        text-decoration: none;
        transition: all .3s;
        padding: 0 16px;
        position: relative;
        outline: none;
        letter-spacing: 1px;
        md-icon {
            vertical-align: middle;
            line-height: 20px;
            margin-right: 8px;
        }
        &.active {
            background: rgba(red($accent), green($accent), blue($accent), 0.1);
        }
    }
}