$transparent-white: rgba(255, 255, 255, .75);
$border-radius: 15px;

my-happy-nails-card {
  md-card {
    background: $transparent-white;
    border-radius: $border-radius;
  }

  ng-map,
  iframe {
    border-radius: $border-radius $border-radius 0 0;
    overflow: hidden;
  }

  md-list-item {

    &,
    &.md-no-proxy {
      padding: 0;
    }
  }
}
