@import '../../styles/breakpoints';

:host {
  flex-direction: row;
}

@media #{$mat-lt-md} {
  :host {
    flex-direction: column;
  }
}

@media #{$mat-gt-sm} {
  :host {
    flex-direction: row;
  }
}

.left-column, .right-column {
  display: flex;
  flex: 1 1 100%;
  flex-direction: column;
}

@media #{$mat-gt-md} {
  .left-column {
    max-width: 45%;
  }
}

.mat-card {
  margin-bottom: 16px;
}

@media #{$mat-gt-md} {
  .right-column {
    margin-left: 16px;
  }
}

.mat-card-subtitle {
  font-weight: 600;
  color: #000;
  margin: 0;
}
