$active-color: rgba(171, 71, 188, .3);

my-happy-nails-sidenav-item {
  width: 100%;

  .md-button {
    line-height: 40px;
    margin: 0;
    padding: 0 16px;
    text-align: left;
    width: 100%;

    &.active {
      background: $active-color;
    }

    &,
    .md-ripple-container {
      border-radius: 0;
    }

    svg {
      height: 20px;
      margin-right: 16px;
      width: 20px;
    }
  }
}
