:host {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 64px;
  padding: 0 16px;
  white-space: nowrap;
}

h1 {
  display: inline;
  font-size: 1.25rem;
  font-weight: 500;
  margin-left: 8px;
}
