$error-color: #f00;

html,
body {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

main {
  background-image: url('/assets/isolierte_weisse_orchideenblueten.jpg');
  background-size: cover;
}

noscript {
  div {
    color: $error-color;
    font-weight: bold;
    margin: 50px auto;
    width: 50%;
  }
}
