@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the base styles for Angular Material core. We include this here so that you only
// have to load a single css file for Angular Material in your app.
@include mat-core();

$md-my-happy-nails-purple: (
    50: #f5e9f7,
    100: #E6C8EB,
    200: #D5A3DE,
    300: #C47ED0,
    400: #B863C6,
    500: #AB47BC,
    600: #A440B6,
    700: #9A37AD,
    800: #912FA5,
    900: #802097,
    A100: #F6D2FF,
    A200: #EC9FFF,
    A400: #E16CFF,
    A700: #DC52FF,  
    contrast: (
        50: $black-87-opacity,
        100: $black-87-opacity,
        200: $black-87-opacity,
        300: $black-87-opacity,
        400: $black-87-opacity,
        500: white,
        600: white,
        700: white,
        800: $white-87-opacity,
        900: $white-87-opacity,
        A100: $black-87-opacity,
        A200: white,
        A400: white,
        A700: white,
  )
);
// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
$my-happy-nails-primary: mat-palette($md-my-happy-nails-purple);

// Create the theme object (a Sass map containing all of the palettes).
$my-happy-nails-app-theme: mat-light-theme($my-happy-nails-primary, $my-happy-nails-primary);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($my-happy-nails-app-theme);