html,
body,
app-root,
md-sidenav-container,
main {
    font-family: Roboto, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
    margin: 0;
    width: 100%;
    height: 100%;
    background-image: url(/assets/bg_xl.jpg) no-repeat center center fixed;
    @media (max-width: 1920px) {
        background-image: url(/assets/bg_lg.jpg);
    }
    @media (max-width: 1280px) {
        background-image: url(/assets/bg_md.jpg);
    }
    @media (max-width: 960px) {
        background-image: url(/assets/bg_sm.jpg);
    }
    @media (max-width: 600px) {
        background-image: url(/assets/bg_xs.jpg);
    }
    background-size: cover;
}

.splash {
    width: 50%;
    left: 25%;
    top: 25%;
    @media (max-width: 600px) {
        width: 80%;
        left: 10%;
        top: 40%;
    }
    position: fixed;
    animation: blink-animation 1.7s cubic-bezier(.5, 0, 1, 1) infinite alternate;
}

@keyframes blink-animation {
    to {
        opacity: 0;
    }
}