<div class="masonry-layout">
  <div class="masonry-layout__panel">
    <img class="mat-elevation-z8" lazyload alt="Eckige weinrote Fingernägel"
      src="/assets/eckige-weinrote-fingernaegel.jpg" />
  </div>
  <div class="masonry-layout__panel">
    <img class="mat-elevation-z8" lazyload
      alt="Lila Fingernägel in Ballerina-Form mit silber-schwarzem Muster auf dem Ringfinger"
      src="/assets/lila-naegel-in-ballerina-form.jpg" />
  </div>
  <div class="masonry-layout__panel">
    <img class="mat-elevation-z8" lazyload
      alt="Natürlich wirkende Fingernägel hautfarbe mit weißem Blumenmuster auf dem Ringfinger"
      src="/assets/natuerlich-wirkende-naegel-in-hautfarbe-mit-blumenmuster.jpg" />
  </div>
  <div class="masonry-layout__panel">
    <img class="mat-elevation-z8" lazyload alt="Ovale Fingernägel in hautfarbe und weiß matt"
      src="/assets/ovale-naegel-in-hautfarbe-und-weiß-matt.jpg" />
  </div>
  <div class="masonry-layout__panel">
    <img class="mat-elevation-z8" lazyload alt="Rosa Ballerina-Fingernägel mit weißem Verlauf und Glitzer"
      src="/assets/rosa-ballerina-naegel-mit-weiss-verlauf-und-glitzer.jpg" />
  </div>
  <div class="masonry-layout__panel">
    <img class="mat-elevation-z8" lazyload alt="Klassische kurze rote Fingernägel in Mandel-Form"
      src="/assets/klassische-kurze-rote-naegel-in-mandel-form.jpg" />
  </div>
  <div class="masonry-layout__panel">
    <img class="mat-elevation-z8" lazyload alt="Hautfarben matte und mit rot glänzende Fingernägel"
      src="/assets/hautfarben-matt-und-rot-glaenzend.jpg" />
  </div>
  <div class="masonry-layout__panel">
    <img class="mat-elevation-z8" lazyload
      alt="Fingernägel in lila, mit rosa Ringfinger und glitzerndem kleinen Finger in ovaler Form"
      src="/assets/lila-rosa-ringfinger-und-glitzernder-kleiner-finger.jpg" />
  </div>
  <div class="masonry-layout__panel">
    <img class="mat-elevation-z8" lazyload
      alt="Flieder farbene Fingernägel in Ballerina-Form mit Unicorn-Effekt am Ringfinger"
      src="/assets/flieder-ballerina-naegel-mit-unicorn-effekt-am-ringfinger.jpg" />
  </div>
  <div class="masonry-layout__panel">
    <img class="mat-elevation-z8" lazyload alt="Gelbe Gelmodellage in Ballerina-Form mit Schnörkeln am Ringfinger"
      src="/assets/gelbe-ballerina-gelmodellage.jpg" />
  </div>
  <div class="masonry-layout__panel">
    <img class="mat-elevation-z8" lazyload alt="Pinke Gelmodellage mit matt, French und Glitzer"
      src="/assets/pink-matt-french-glitzer-gelmodellage.jpg" />
  </div>
  <div class="masonry-layout__panel">
    <img class="mat-elevation-z8" lazyload alt="Kurze, eckige Fingernägel in schwarz mit Glitzer"
      src="/assets/kurze-eckige-fingernaegel-in-schwarz-mit-glitzer.jpg" />
  </div>
  <div class="masonry-layout__panel">
    <img class="mat-elevation-z8" lazyload alt="Blaue, glitzernde Fingernägel mit Schnörkeln"
      src="/assets/blaue-glitzernde-fingernaegel-mit-schnoerkeln.jpg" />
  </div>
  <div class="masonry-layout__panel">
    <img class="mat-elevation-z8" lazyload alt="Kurze blaue Fingernägel mit Micky Maus Sticker"
      src="/assets/kurze-blaue-naegel-mit-micky-maus-sticker.jpg" />
  </div>
  <div class="masonry-layout__panel">
    <img class="mat-elevation-z8" lazyload alt="Kurze eckige Fingernägel in lila mit Glitzer"
      src="/assets/kurze-eckige-fingernaegel-in-lila-mit-glitzer.jpg" />
  </div>
</div>
