@import '../../styles/breakpoints';

img {
  border-radius: 6px;
  display: flex;
  max-width: 100%;
}

.masonry-layout {
  column-count: 1;

  @media #{$mat-gt-xs} {
    column-count: 2;
    margin: -8px;
  }

  @media #{$mat-gt-sm} {
    column-count: 3;
  }

  @media #{$mat-gt-lg} {
    column-count: 4;
  }

  column-gap: 0;
}

.masonry-layout__panel {
  position: relative;
  display: inline-block;
  break-inside: avoid;
  padding-bottom: 16px;
  overflow: visible;
}

@media #{$mat-gt-xs} {
  .masonry-layout__panel {
    padding: 8px;
  }
}

.masonry-layout__panel-content {
  display: flex;
}
