<div class="column-left">
  <mat-card class="mat-elevation-z8" *ngIf="showHolidays">
    <!-- <img src="/assets/holidays3.jpg" mat-card-image> -->
    <h2 mat-card-title>Geschlossen</h2>
    <p>Liebe Kunden,
      <br />
      <br />vom
      <b>25.04.19 bis 12.05.19</b> habe ich geschlossen. In dieser Zeit stehen daher leider keine Termine zur
      Verfügung und
      auch telefonisch bin ich nur eingeschränkt erreichbar. Gerne könnt ihr mich allerdings per E-Mail kontaktieren.
      <br />
      <br /> Ab
      <b>13.05.19</b> bin ich gerne wieder für euch da.
      <br />
      <br />Eure Denise</p>
  </mat-card>
  <mat-card class="mat-elevation-z8" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
    <div mat-card-image id="map"></div>
    <h2 mat-card-title>Adresse</h2>
    <span itemprop="streetAddress">Falkensteiner Weg 10</span>
    <br />
    <span itemprop="postalCode">65843</span>&nbsp;
    <span itemprop="addressLocality">Sulzbach (Taunus)</span>
  </mat-card>
  <mat-card class="mat-elevation-z8">
    <h2 mat-card-title>Kontakt</h2>
    <mat-list>
      <mat-list-item>
        <mat-icon svgIcon="material:phone"></mat-icon>
        <a itemprop="telephone" href="tel:+49 177 6342 915">+49 177 6342 915</a>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <mat-icon svgIcon="material:email"></mat-icon>
        <a itemprop="email" href="mailto:kontakt@my-happy-nails.de">kontakt@my-happy-nails.de</a>
      </mat-list-item>
    </mat-list>
  </mat-card>
  <mat-card class="mat-elevation-z8" id="contact-card">
    <h2 mat-card-title>Öffnungszeiten</h2>
    <mat-list itemprop="openingHoursSpecification" itemscope itemtype="http://schema.org/OpeningHoursSpecification">
      <mat-list-item>
        <h3 mat-line>
          <span itemprop="opens" content="09:00:00">9:00</span> -
          <span itemprop="closes" content="19:00:00">19:00</span>
        </h3>
        <p mat-line itemprop="dayOfWeek" content="Monday Tuesday Wednesday Thursday Friday">Montag - Freitag</p>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <h3 mat-line>Geschlossen</h3>
        <p mat-line itemprop="dayOfWeek">Samstag und Sonntag</p>
      </mat-list-item>
    </mat-list>
  </mat-card>
</div>
<div class="column-right">
  <mat-card class="mat-elevation-z8">
    <h2 mat-card-title>Meine Arbeit in Sulzbach</h2>
    <article>
      <p>
        In meinem Nagelstudio in Sulzbach kümmere ich mich engagiert und mit großer Liebe zum Beruf darum, meinen
        Kundinnen zu einem
        gepflegten Aussehen zu verhelfen.
        <br>
        <br>Unsere Hände sind fast immer sichtbar und stehen vielfach im Zentrum des Interesses. Nicht umsonst gibt es
        die
        Redewendung "jemandem auf die Finger sehen". Ob beim Essen, beim gestenreichen Sprechen oder einfach in
        legerer
        Haltung, unsere Hände sind sichtbar und ziehen viele Blicke auf sich.
        <br>
        <br>Maniküre und Nageldesign sind weit mehr als ausschließlich künstliche Fingernägel. Eine Basispflege ist
        bei mir
        ebenso denkbar wie aufwendig gestylte Nägel – ganz nach Wunsch.
        <br>
        <br>Wenn du der Meinung bist, dass künstliche Fingernägel gleichzusetzen sind mit unnatürlich langen Krallen,
        wie sie
        vor Jahrzehnten modern waren, lass dich vom Gegenteil überzeugen. Ich zeige dir gerne, wie wunderbar natürlich
        zeitgemäßes Nageldesign aussieht.
      </p>
    </article>
  </mat-card>
  <mat-card class="mat-elevation-z8">
    <h2 mat-card-title>Nageldesign – ein kleiner Rückblick</h2>
    <article>
      <p>
        Gerade in der heutigen Zeit ist gutes und vor allem gepflegtes Aussehen wichtig – beruflich wie privat.
        <br>
        <br>Aber auch in der Antike kümmerten sich die Menschen bereits sorgfältig um ihre Nägel. Cleopatra etwa,
        Inbegriff
        der Schönheit, modellierte ihre Fingernägel mit Porzellanpulver und färbte sie anschließend golden oder mit
        Henna
        orangerot. In der Ming-Dynastie wussten die Menschen ebenfalls ihre Nägel zu verstärken.
        <br>
        <br>Im 20. Jahrhundert begann der Siegeszug der künstlichen Fingernägel, die bald auch für jeden populär
        wurden. Gestaltung
        und Materialien waren und sind dabei der jeweiligen Mode und dem individuellen Geschmack unterworfen.
        <br>
        <br>In angenehmem und wohltuendem Ambiente sorge ich dafür, dass du stolz auf deine Hände sein kannst.
      </p>
    </article>
  </mat-card>
  <mat-card class="mat-elevation-z8">
    <h2 mat-card-title>Künstliche Fingernägel – viele Varianten möglich</h2>
    <article>
      <p>
        Ob du schlicht geformte oder auffällig gefeilte Fingernägel wünschst, ob dezent lackiert, üppig mit Steinchen
        verziert oder
        aufwendig gemustert – in allen Techniken verfüge ich über viel Erfahrung.
        <br>Gerne berate ich dich bei der Auswahl der Lacke und Farben wie auch bei der Form deiner Fingernägel.
        <br>
        <br>Dabei spielt selbstverständlich der Anlass eine große Rolle. Ein festlicher Abend gestattet ein pompöses
        Design,
        farblich passend zu deinem Kleid. Für den Alltag empfiehlt sich eher ein schlichter Look.
        <br>
        <br>Wesentlich bei allem ist jedoch, dass du selbst dich wohlfühlst und gerne deine gepflegten Hände und
        schönen Fingernägel
        zeigst.
      </p>
    </article>
  </mat-card>
</div>
