@import '../../styles/breakpoints';

:host {
  flex-direction: row;
}

@media #{$mat-lt-md} {
  :host {
    flex-direction: column;
  }
}

.column-left, .column-right {
  flex: 1 1 100%;
  box-sizing: border-box;
  max-width: 100%;
}

@media #{$mat-gt-sm} {
  .column-left {
    max-width: 40%;
    margin-left: 16px;
  }
}

@media #{$mat-gt-lg} {
  .column-left {
    max-width: 30%;
  }
}

@media #{$mat-gt-sm} {
  .column-right {
    order: -1;
    max-width: 55%;
  }
}

.mat-card {
  margin-bottom: 16px;
}

.mat-icon {
  color: #bf74cc;
  margin-right: 16px;
}

#contact-card {
  h3 {
    font-size: 20px;
    font-weight: 500;
  }

  p {
    color: rgba(0, 0, 0, 0.54);
  }
}

#map {
  height: 300px;
}
