@import '../../styles/breakpoints';

:host {
  display: flex;
  flex-direction: row;
  padding: 8px;
}

@media #{$mat-lt-md} {
  :host {
    flex-direction: column;
  }
}

.column-left {
  flex: 1 1 100%;
  box-sizing: border-box;
  max-width: 100%;
}

@media #{$mat-gt-sm} {
  .column-left {
    max-width: 40%;
  }
}

@media #{$mat-gt-lg} {
  .column-left {
    max-width: 30%;
  }
}

.column-right {
  flex: 1 1 100%;
  box-sizing: border-box;
  max-width: 100%;
}

@media #{$mat-gt-sm} {
  .column-right {
    order: -1;
    max-width: 55%;
  }
}

.mat-card {
  margin: 8px;

  mat-icon {
    color: #bf74cc;
    margin-right: 16px;
  }

  &#contact-card {
    h3 {
      font-size: 20px;
      font-weight: 400;
    }

    p {
      color: rgba(0, 0, 0, 0.54);
    }
  }
}

#map {
  height: 300px;
}

:host .mat-card-image {
  border-radius: 20px 20px 0 0;
}
