<div class="wrapper" fxLayout.gt-md="row" fxLayoutWrap>
  <md-card fxFlex.gt-md="55%" fxFlexOrder.gt-md="-1">
    <md-card-title>Meine Arbeit in Sulzbach</md-card-title>
    <p>
      In meinem Nagelstudio in Sulzbach kümmere ich mich engagiert und mit großer Liebe zum Beruf darum, meinen Kundinnen zu einem
      gepflegten Aussehen zu verhelfen.<br><br>Unsere Hände sind fast immer sichtbar und stehen vielfach im Zentrum
      des Interesses. Nicht umsonst gibt es die Redewendung "jemandem auf die Finger sehen". Ob beim Essen, beim gestenreichen
      Sprechen oder einfach in legerer Haltung, unsere Hände sind sichtbar und ziehen viele Blicke auf sich.<br><br>Maniküre
      und Nageldesign sind weit mehr als ausschließlich künstliche Fingernägel. Eine Basispflege ist bei mir ebenso denkbar
      wie aufwendig gestylte Nägel – ganz nach Wunsch.<br><br>Wenn Sie der Meinung sind, dass künstliche Fingernägel gleichzusetzen
      sind mit unnatürlich langen Krallen, wie sie vor Jahrzehnten modern waren, lassen Sie sich vom Gegenteil überzeugen.
      Ich zeige Ihnen gerne, wie wunderbar natürlich zeitgemäßes Nageldesign aussieht.
    </p>
  </md-card>
</div>