<div class="wrapper" fxLayout.gt-sm="row" fxLayout="column" fxLayoutWrap>
  <div fxFlex="none" fxFlex.gt-sm="40%" fxFlex.gt-lg="30%">
    <md-card itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
      <div class="card-header">
        <div id="map"></div>
      </div>
      <md-card-title>
        <h2>Adresse</h2>
      </md-card-title>
      <span itemprop="streetAddress">{{ (address$ | async)?.street }} {{ (address$ | async)?.houseNumber }}</span><br />
      <span itemprop="postalCode">{{ (address$ | async)?.zip }}</span> <span itemprop="addressLocality">{{ (address$ | async)?.city }}</span>
    </md-card>
    <md-card>
      <md-card-title>
        <h2>Kontakt</h2>
      </md-card-title>
      <md-list>
        <md-list-item>
          <md-icon svgIcon="phone"></md-icon>
          <a itemprop="telephone" [href]="'tel:' + (phone$ | async)">{{ phone$ | async }}</a>
        </md-list-item>
        <md-divider></md-divider>
        <md-list-item>
          <md-icon svgIcon="mail"></md-icon>
          <a itemprop="email" [href]="'mailto:' + (mail$ | async)">{{ mail$ | async }}</a>
        </md-list-item>
      </md-list>
    </md-card>
    <md-card id="contact-card">
      <md-card-title>
        <h2>Öffnungszeiten</h2>
      </md-card-title>
      <md-list itemprop="openingHoursSpecification" itemscope itemtype="http://schema.org/OpeningHoursSpecification">
        <md-list-item>
          <h3 md-line><span itemprop="opens" content="09:00:00">9:00</span> - <span itemprop="closes" content="19:00:00">19:00</span></h3>
          <p md-line itemprop="dayOfWeek" content="Monday Tuesday Wednesday Thursday Friday">Montag - Freitag</p>
        </md-list-item>
        <md-divider></md-divider>
        <md-list-item>
          <h3 md-line><span itemprop="opens" content="09:00:00">9:00</span> - <span itemprop="closes" content="17:00:00">17:00</span></h3>
          <p md-line itemprop="dayOfWeek">Samstag</p>
        </md-list-item>
        <md-divider></md-divider>
        <md-list-item>
          <h3 md-line>Geschlossen</h3>
          <p md-line itemprop="dayOfWeek">Sonntag</p>
        </md-list-item>
      </md-list>
    </md-card>
  </div>
  <div fxFlex="none" fxFlex.gt-sm="55%" fxFlexOrder.gt-sm="-1">
    <md-card>
      <md-card-title>
        <h2>Meine Arbeit in Sulzbach</h2>
      </md-card-title>
      <article>
        <p>
          In meinem Nagelstudio in Sulzbach kümmere ich mich engagiert und mit großer Liebe zum Beruf darum, meinen Kundinnen zu einem
          gepflegten Aussehen zu verhelfen.<br><br>Unsere Hände sind fast immer sichtbar und stehen vielfach im
          Zentrum des Interesses. Nicht umsonst gibt es die Redewendung "jemandem auf die Finger sehen". Ob beim Essen, beim
          gestenreichen Sprechen oder einfach in legerer Haltung, unsere Hände sind sichtbar und ziehen viele Blicke auf
          sich.
          <br><br>Maniküre und Nageldesign sind weit mehr als ausschließlich künstliche Fingernägel. Eine Basispflege ist
          bei mir ebenso denkbar wie aufwendig gestylte Nägel – ganz nach Wunsch.<br><br>Wenn du der Meinung bist, dass künstliche
          Fingernägel gleichzusetzen sind mit unnatürlich langen Krallen, wie sie vor Jahrzehnten modern waren, lass dich
          vom Gegenteil überzeugen. Ich zeige dir gerne, wie wunderbar natürlich zeitgemäßes Nageldesign aussieht.
        </p>
      </article>
    </md-card>
    <md-card>
      <md-card-title>
        <h2>Nageldesign – ein kleiner Rückblick</h2>
      </md-card-title>
      <article>
        <p>
          Gerade in der heutigen Zeit ist gutes und vor allem gepflegtes Aussehen wichtig – beruflich wie privat.<br><br>Aber
          auch in der Antike kümmerten sich die Menschen bereits sorgfältig um ihre Nägel. Cleopatra etwa, Inbegriff der
          Schönheit, modellierte ihre Fingernägel mit Porzellanpulver und färbte sie anschließend golden oder mit Henna orangerot.
          In der Ming-Dynastie wussten die Menschen ebenfalls ihre Nägel zu verstärken.<br><br>Im 20. Jahrhundert begann
          der Siegeszug der künstlichen Fingernägel, die bald auch für jeden populär wurden. Gestaltung und Materialien waren
          und sind dabei der jeweiligen Mode und dem individuellen Geschmack unterworfen.<br><br>In angenehmem und wohltuendem
          Ambiente sorge ich dafür, dass du stolz auf deine Hände sein kannst.
        </p>
      </article>
    </md-card>
    <md-card>
      <md-card-title>
        <h2>Künstliche Fingernägel – viele Varianten möglich</h2>
      </md-card-title>
      <article>
        <p>
          Ob du schlicht geformte oder auffällig gefeilte Fingernägel wünschst, ob dezent lackiert, üppig mit Steinchen verziert oder
          aufwendig gemustert – in allen Techniken verfüge ich über viel Erfahrung.<br>Gerne berate ich dich bei
          der Auswahl der Lacke und Farben wie auch bei der Form deiner Fingernägel.<br><br>Dabei spielt selbstverständlich
          der Anlass eine große Rolle. Ein festlicher Abend gestattet ein pompöses Design, farblich passend zu deinem Kleid.
          Für den Alltag empfiehlt sich eher ein schlichter Look.<br><br>Wesentlich bei allem ist jedoch, dass du selbst
          dich wohlfühlst und gerne deine gepflegten Hände und schönen Fingernägel zeigst.
        </p>
      </article>
    </md-card>
  </div>
</div>