$white: #fff;

mhn-footer {

  footer {
    padding: 1em 4em;

    a {
      color: $white;
      line-height: 24px;
      text-decoration: none;
      padding: 0 1em;
    }

    md-icon {
      fill: $white;
    }
  }
}
